@import "bootstrap";


body {
  background-color: rgb(204, 204, 204);
  font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;
  color: #9ca4ab;
}
